<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font: 1.2em Helvetica, Arial, sans-serif;
        }

        .box {
            background: rgb(224, 206, 247);
            border: 5px solid rebeccapurple;
            display: flow-root;
        }

        .float {
            float: left;
            width: 200px;
            height: 150px;
            background: white;
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="float">I a am floated box!</div>
        <p>I am content inside the container.</p>
    </div>
</body>
</html>