<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font: 1.2em Helvetica, Arial, sans-serif;
            margin: 25px;
        }

        strong {
            margin: 20px;
            padding: 20px;
            border: 5px solid rebeccapurple;
        }

    </style>
</head>
<body>
    <p>Before that night—<strong>a memorable night</strong>, as it was to prove-hundreds 0f millions
    of people had watched the rising smoke-wreaths of their fires without drawing
    any special inspiration from the fact.</p>
</body>
</html>