<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font: 1.2em Helvetica, Arial, sans-serif;
        }

        .box {
            width: 300px;
            height: 100px;
            border: 5px solid rebeccapurple;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="box">
        <p>One November night in the year 1782, so the story runs, two brothers sat
    over their winter fire in the little French town of Annonay, watching the grey
    smoke-wreaths from the hearth curl up the wide chimney.</p>

    </div>
    <p>Their names were Stephen and Joseph Montgolfier, they were papermakers by
    trade, and were noted as possessing thoughtful minds and a deep interst in all
    scientific knowledge and new discovery.</p>
    <p>Before that night—a memorable night, as it was to prove-hundreds 0f millions
    of people had watched the rising smoke-wreaths of their fires without drawing
    any special inspiration from the fact.</p>
</body>
</html>